
.footer__redes{
 margin-top: 6rem;
 margin-bottom: 1rem;
}

.footer__derechos--contenedor{
    display: flex;
    justify-content: center;

}
.footer_derechos{
    font-size: 1rem;
    margin: 1.5rem;
    color:black;
   
    
}
