header{
    h1{
        color:red;
    }
}

ul{
    list-style: none;
    
    
    
}

ul li{
    float: left;
    margin: 0 3px;
    
}
nav{
    
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:  0 0 0 0;
    
}

.header__logo{ 
    width: 10%;   
}

.header__encabezado{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  
.menu_sticky {

    position: sticky;

    top: 0rem;

    background-color:#ffff;
    

}

.header__nav--fondo{
    background-color: #ffff;
}

